@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Noto+Serif&family=WindSong&display=swap');
body{
	background-color:#ffffff;
	color: #73716E;
	font-family: 'Inter', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	margin: 0;}
	h1,h2 {
	font-family:'EB Garamond', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #1F1C17; margin: 5px;}
header .container{
	display: flex;
	justify-content: space-between;
align-items: center;
}
.menu ul{list-style: none;
margin: 10px;
padding: 0;
display: flex;
}
.menu ul li{position: relative;}
.menu ul li a{color: #333333;
text-decoration:none;
	text-transform: uppercase;
	padding: 10px 15px;
	display: block;
	font-size: 14px;
	font-weight: 1000;
	transition: all 0.5;}
.menu ul li a:hover{ 
	color: #FFFD00;}
.menu ul ul
{
position:absolute;
display: block;
width: 200px;
top: 0%;
left: 0px;
transition: all 0.5s;
background: #fff;
box-shadow: 2px 3px rgba(200,200,200,0.5);
opacity: 0;
visibility: hidden;


}
.menu ul li:hover> ul 
{
opacity: 1;
visibility: visible;
	top: 100%;
}


.caption h1{font-size: 50px}
.menu ul ul a {
border-bottom: 1px solid #C0C0C0;
}

	

h2{font-size: 30px}
h3{font-size: 25px}

/*...............................................DANCE*/
#dance img {
	padding-top: 50px;
	height: 500px;
	object-fit: cover;
	
}
#dance h1 {font-size: 25px;
margin-top: 25px}
#dance p{text-align:  center}


/*...............................................TRY-WORKOUTS*/
#try-workouts h1{font-size: 25px}
#try-workouts h2{font-size: 20px}
#try-workouts {padding-top: 50px}
#try-workouts h1,#try-workouts h2,#try-workouts p{padding-left: 90px}



/*...............................................EXPLORE*/
#explore h1 {font-size: 25px}
#explore {padding-top: 50px}
#explore h1,#explore p{padding-right: 60px}



/*...............................................GET*/
#get{align-content: center}
#get p ,#get h3 {text-align: center}
#get h3{font-size:20px}
#get {padding-top: 50px}
#end{background-color: #484848;
width: auto;
min-height: 800px;
padding-top: 10px;
color: #FFFEFE
}
#get .anh {position: relative}
#get .anh img {transition: all 0.5s}
#get .anh:hover> img{transform: scale(1.1)}
#end .ket p {font-size: 10px}
#get {align-content: space-around;margin:0px }
.text-white {color: #FDFDFD;text-decoration: none}
#end .ket .icon a {text-decoration: none;
padding: 2px
}
.cap h4 {font-size: 16px;
left: 1050px;
	position: absolute;
	padding-top: 16px

	
}
.cap h5 {font-size: 16px;
left: 850px;
	position: absolute;
	background: #000000;
	color: #FFFFFF;
	width: 160px;
	min-height: 10px;
	border-radius: 3px;
	padding: 10px 15px
	
}	
#try-workouts .cap h4,.cap h5 {align-content: center}

.plo h4 {
background: #000000;
	color: #FFFFFF;
	width: 180px;
	min-height: 10px;
	border-radius: 3px;
	padding: 10px 15px	
}




/*............................................BANNER*/
#banner h1 {font-size: 50px}
#banner h1 ,#banner h3{color: #FFFFFF}

#banner{
	margin-top: 0px;
}
#banner .item{
	position: relative;
	width: 100%;
	}

#banner .item img{
	height: 500px;
	object-fit: cover;
	background: center;
}
#banner .item .text-center  {
	
	position: absolute;
	width:50%;
	top:20%;
	left: 25%;
	color: white;
	text-align: center;
	
	
}






.card-overlay h4 { position: absolute; background: #333; color: #fff;left: -200px; bottom: 50px; padding: 5px 10px}
.card-overlay h5 { position: absolute; background: #333; color: #fff;left: 15px; bottom: -150px; padding: 5px 10px}
.card-overlay img{transition: all 1s}
.card-overlay:hover>img {transform:scale(1.2) rotate(5deg) }
.card-overlay:hover>h4{left: 15px}
.card-overlay:hover>h5{bottom:  20px}
header .container{
	display: flex;
	justify-content: space-between;
align-items: center;
}
.btn-primary{background-color:#F4F4F4;color:#000000;}
.btn-primary
{ 
	background: #B4BB6B;
	border: none;
	padding: 10px 25px;
	border-radius: 50px;
	color: #fff; font-size: 1.2rem;
	cursor: pointer;
	margin-top: 20px}
